@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 300ms ease !important;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Red Hat Display", sans-serif !important;
  background-color: $white;
  // background-color: #F6F6F6 !important;

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 0px;
    border: 3px solid transparent;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color;
    }
}
&::-webkit-scrollbar {
    width: 8px;
    @media screen and (max-width: 768px) {
      width: 4px; 
    }
}
&::-webkit-scrollbar-track {
  background-color: rgba($primary-color, 0.2);
}
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  user-select: none;
}

p {
  font-size: $font-size-16;
}

/* CSS variables from my global config */
:root {
  --boxBg: #f3f3f3;
  --activeBg: #292929;
  --text: #000;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --boxBg: #1f1e1d;
  --activeBg: #292929;
  --text: #fff;
}

section {
  background-color: #F6F6F6;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.container {
  padding: 0 8%;
  max-width: 1500px;
  margin: 0 auto;

  @media screen and (max-width: 528px) {
    padding: 0 16px;
  }
}

.loader {
  animation: loaderAnim 800ms linear infinite;
  display: inline-flex;
  height: fit-content;
  scale: 1.4;

  @keyframes loaderAnim {
    to {
      rotate: 360deg;
    }
  }
}